// Icon paths

$FontAwesomePath: "aui/lexicon/fonts/alloy-font-awesome/font";
$font-awesome-path: "aui/lexicon/fonts/alloy-font-awesome/font";
$icon-font-path: "aui/lexicon/fonts/";

// Bootstrap variables override
$btn-primary-bg:    #1abc9c;
$state-danger-bg:   #e74c3c;
$state-danger-text: #e74c3c;

$state-success-text: #1abc9c;
$state-success-bg: #1abc9c;

$state-warning-text: #f39c12;
$state-warning-bg: #f39c12;
