$portlet-color: #bec2d2;

.portlet-decorate .portlet-content {
	box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.05);
	padding: 20px;
	border-radius: 2px;
}

.portlet-barebone .portlet-content {
	padding: 0;
}

.portlet-topper {
	background-color: $portlet-color;
    border-color: $portlet-color;
}

.portlet:hover > .portlet-content-editable, .portlet.focus > .portlet-content-editable {
	border-color: $portlet-color;
}

.portlet:hover > .portlet-topper, .portlet.focus > .portlet-topper {
	display: none;
}

.portlet:hover > .portlet-content-editable, .portlet.focus > .portlet-content-editable {
	border: 1px solid transparent;
}

.lexicon-icon.lexicon-icon-search {
	fill: #fff;
}

@media only screen and (max-width: 767px) {
	.controls-visible .portlet-topper {
		display: none;
	}

	.controls-visible .portlet-content-editable {
		border-color: transparent;
	}

	.navbar-collapse {
		box-shadow: none;
	}

	.lfr-ddm-field-group.lfr-ddm-field-group-inline.field-wrapper {
		margin-top: 10px;
	}
}