.portlet-decorate .portlet-content {
	@include border-top-radius(4px);
	@include border-right-radius(4px);
	@include border-bottom-radius(4px);
	@include border-left-radius(4px);
	background: #242b47;
	border: none;
	padding: 20px;
	box-shadow: 1px 1px 5px 1px rgba(36, 43, 70, 0.72);
}

.portlet-barebone .portlet-content {
	padding: 0;
}

.field.form-control {
	color: #fff;
}